body {
    height: 100vh;
    background-image: linear-gradient(yellow, blue);
    font-family: 'Unbounded', cursive;
    color: #020b58;
    text-align: center;
  }

  .logo {
    height: 60px;
    padding-right: 5px;

    h1 {
        font-size: 60px;
    }
