body {
    background: yellow;
    font-family: 'Unbounded', cursive;
    color: #020b58;
    text-align: center;
  }

  .logo {
    height: 60px;
    padding-right: 10px;
    margin-top: 20px;
  }

    h1 {
        font-size: 20px;
        font-weight: normal;
        text-align: center;

    }
    .game-board {
        margin: 5px 0 10px;
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-gap: 10px;
        justify-content: center;
        perspective: 1000px;
        /* to create a 3D flip effect -adapted from https://github.com/moirahartigan/Portfolio-2---Alien-Memory-Game */
      
      }
      
      .memory-card {
        position: relative;
        cursor: pointer;
        height: 100px;
        width: 100px;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 0.2);
        transform: scale(1);
        transform-style: preserve-3d;
        /* to position the cards in the 3d space created -adapted from https://github.com/moirahartigan/Portfolio-2---Alien-Memory-Game */
        transition: transform .5s;
      }
      
      .memory-card:active {
        transform: scale(.97);
        transition: transform .2s;
      }
      
      .memory-card.flip {
        transform: rotateY(180deg);
      }
      
      .card-front,
      .card-back {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 1px;
        background: #020b58;
        border-width: 2px;
        overflow: hidden;
        transition: transform 500ms ease-in-out;
        backface-visibility: hidden;
      }
      
      .card-front {
        transform: rotateY(180deg);
      }
      
