body {
    background-image: linear-gradient(yellow, blue);
    font-family: 'Unbounded', cursive;
    color: #020b58;
    text-align: center;
  }

  .logo {
    height: 60px;
    padding-right: 10px;
    margin-top: 20px;
  }

    h1 {
        font-size: 20px;
        font-weight: normal;
        text-align: center;

    }

    .game-board {
        height: 500px;
        width: 500px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        background-color: blue;
        border: 10px solid lightblue;
    }


    .images-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .memory-card {
        background: #494949;
        width: 15%;
        margin: 30px 15px;
    }
    
    .card-front{
        width: 100%;
        border-radius: 15px 15px 0 0;
    }
    
